<!DOCTYPE html>
<html>

    
<head>
    <title>Maisha Fashion</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
                function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="screen">
    
    <!-- <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" /> -->

    
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <link href="css/search.css" rel="stylesheet" type="text/css">
    

    <!-- Rafee's index -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet"> -->
    
    <!-- <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="https://rawgit.com/buberdds/angular-bootstrap-colorpicker/master/css/colorpicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.23/angular-datepicker.min.css">
    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"> -->
    <!-- <link href="css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="css/plugins/summernote/summernote-bs3.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"> -->
    <!-- Rafee's index ended -->
</head>

<body ng-app="accounting-web">

<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-4 col-sm-6 col-xs-12 logo_agile" style="text-align: left;">
            <h1><a href="index.html"><span>M</span>aisha Fashion</a></h1>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 header-middle media-mob">
            <div id='search-box' style="">
                <form id='search-form' target='_top'>
                    <input id='search-text' ng-bind="$root.searchText" name='q' placeholder='Search' type='text'/>
                    <a href="#!/search/{{$root.searchText}}">
                        <button id='search-button' style="margin-top: 0px;">
                            <span>Search</span>
                        </button>
                    </a>
                </form>
            </div>
        </div>
        <!-- header-bot -->


        <div class="col-md-4 col-sm-12 col-xs-12 agileits-social media-mob top_content">
            <ul class="social-nav model-3d-0 footer-social w3_agile_social" style="margin-top:0px;">
                <li class="share">Follow Us : </li>
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
				<li>
					<a href="maisha-fashion.com/admin/"><button type="button" class="btn" style="background-color: black; color:white; margin-top: -17px">Login</button></a>
				</li>
                <!--<li>-->
                    <!--<a href="#" class="twitter">-->
                        <!--<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>-->
                        <!--<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#" class="instagram">-->
                        <!--<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>-->
                        <!--<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#" class="pinterest">-->
                        <!--<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>-->
                        <!--<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item menu__item--current"><a class="menu__link" href="#!/0">Home<span class="sr-only">(current)</span></a></li>
                            <li class="dropdown menu__item" ng-repeat="category in $root.categories">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{category.name}}<span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li ng-repeat="sub in category.sub_category"><a href="#!/{{sub.id}}">{{sub.name}}</a></li>
                                            </ul>
                                        </div>
                                        <!--<div class="col-sm-3 multi-gd-img">-->
                                        <!--<ul class="multi-column-dropdown">-->
                                        <!--<li><a href="mens.html">Watches</a></li>-->
                                        <!--<li><a href="mens.html">Accessories</a></li>-->
                                        <!--<li><a href="mens.html">Bags</a></li>-->
                                        <!--<li><a href="mens.html">Caps & Hats</a></li>-->
                                        <!--</ul>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-3 multi-gd-img">-->
                                        <!--<ul class="multi-column-dropdown">-->
                                        <!--<li><a href="mens.html">Clothing</a></li>-->
                                        <!--<li><a href="mens.html">Wallets</a></li>-->
                                        <!--<li><a href="mens.html">Footwear</a></li>-->
                                        <!--<li><a href="mens.html">Watches</a></li>-->
                                        <!--</ul>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-3 multi-gd-img">-->
                                        <!--<ul class="multi-column-dropdown">-->
                                        <!--<li><a href="mens.html">Beauty</a></li>-->
                                        <!--<li><a href="mens.html">Shirts</a></li>-->
                                        <!--<li><a href="mens.html">Sunglasses</a></li>-->
                                        <!--<li><a href="mens.html">Swimwear</a></li>-->
                                        <!--</ul>-->
                                        <!--</div>-->
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
    <ui-view></ui-view>


<!-- footer -->
<div class="footer">
    <div class="footer_agile_inner_info_w3l">
        <div class="col-md-6 footer-left">
            <h2><a href="index.html"><span>M</span>aisha Fashion </a></h2>
            <p>
                Lorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non
                numquam eius modi tempora.
            </p>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="#" class="twitter">-->
                        <!--<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>-->
                        <!--<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#" class="instagram">-->
                        <!--<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>-->
                        <!--<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#" class="pinterest">-->
                        <!--<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>-->
                        <!--<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="col-md-6 footer-right">
            <div class="sign-grds">
                <div class="col-md-12 sign-gd-two">
                    <h4>Contact <span>Information</span></h4>
                    <div class="w3-address">
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Phone Number</h6>
                                <p>+1 234 567 8901</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Email Address</h6>
                                <p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Location</h6>
                                <p>
                                    Broome St, NY 10002,California, USA.

                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <p class="copy-right" style="margin-top: 22px;">&copy 2017 Company_Name. All rights reserved</p>
        </div>
        <div class="col-md-6">
            <p style="margin-top: 22px; text-align: center;">Developed by: <a href="http://soft360d.com/">360 Degree Software</a></p>
        </div>

    </div>
</div>
<!-- //footer -->
<!-- login -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids">
                    <div class="login">
                        <div class="login-bottom">
                            <h3>Sign up for free</h3>
                            <form>
                                <div class="sign-up">
                                    <h4>Email :</h4>
                                    <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                </div>
                                <div class="sign-up">
                                    <h4>Password :</h4>
                                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                </div>
                                <div class="sign-up">
                                    <h4>Re-type Password :</h4>
                                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                </div>
                                <div class="sign-up">
                                    <input type="submit" value="REGISTER NOW">
                                </div>

                            </form>
                        </div>
                        <div class="login-right">
                            <h3>Sign in with your account</h3>
                            <form>
                                <div class="sign-in">
                                    <h4>Email :</h4>
                                    <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                </div>
                                <div class="sign-in">
                                    <h4>Password :</h4>
                                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                    <a href="#">Forgot password?</a>
                                </div>
                                <div class="single-bottom">
                                    <input type="checkbox" id="brand" value="">
                                    <label for="brand"><span></span>Remember Me.</label>
                                </div>
                                <div class="sign-in">
                                    <input type="submit" value="SIGNIN">
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.23/angular-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/1.0.0-beta.1/ng-google-chart.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
<script src="https://cdn.rawgit.com/bradberger/angular-material-calendar/master/dist/angular-material-calendar.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="js/angular-select.js"></script>
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
<script src="https://rawgit.com/buberdds/angular-bootstrap-colorpicker/master/js/bootstrap-colorpicker-module.min.js"></script>
<script src="js/angular-flexslider.js"></script>
<script src="app.js"></script>
<script src="service.js"></script>


<!-- Controller -->

<script src="js/controllers/HomeController.js"></script>
<script src="js/controllers/SingleProductDetailsController.js"></script>
<script src="js/controllers/SearchController.js"></script>
<!-- <script src="js/controllers/purchaseCtrl.js"></script>
<script src="js/controllers/accountsPurchaseCtrl.js"></script>
<script src="js/controllers/accountsSalesCtrl.js"></script>
<script src="js/controllers/superAdminJournalCtrl.js"></script>
<script src="js/controllers/superAdminLedgerCtrl.js"></script>
<script src="js/controllers/superAdminDashboardCtrl.js"></script>
<script src="js/controllers/superAdminStockCtrl.js"></script>
<script src="js/controllers/warehouseDashboardCtrl.js"></script>
<script src="js/controllers/addNewMemberCtrl.js"></script>
<script src="js/controllers/warehouseSalesEntryCtrl.js"></script>
<script src="js/controllers/purchaseDetailsCtrl.js"></script>
<script src="js/controllers/addNewLedgerCtrl.js"></script>
<script src="js/controllers/productDetailsCtrl.js"></script>
<script src="js/controllers/productDetailsUpdateCtrl.js"></script> -->




<!-- Mainly scripts -->

<script src="js/jquery-2.1.4.min.js"></script>


    <script src="js/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <!-- cart-js -->
    <script src="js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

    

    <!-- //cart-js -->
    <script src="js/imagezoom.js"></script>
    <!-- script for responsive tabs -->
    <script src="js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>

<script src="js/jquery.flexslider.js"></script>
<script>
// Can also be used with $(document).ready()
    $(window).load(function() {
        $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
        });
    });
</script>

    
    <!-- //script for responsive tabs -->
    <!-- stats -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

<script src="js/bootstrap.min.js"></script>
<!-- <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script> -->

<!-- Custom and plugin javascript -->
<!-- <script src="js/plugins/ng-file-upload/dist/ng-file-upload.min.js"></script>
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script> -->


<!-- <script>
	$(document).ready(function(){

		$('.summernote').summernote();

	});
</script>

<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>

</html> -->